@import "../../containers/App/App.scss";

.navbar {
    .navbar-brand {
      color: $blue !important;
      font-size: 1.2rem; 
      font-weight: bold;

      &:focus, &:hover {
        color: $white !important;
      }
    }
    
}
