@import "../../containers/App/App.scss";

.pokemon-list-item {
  border-radius: 0;
  border-color: lighten($color: $blue, $amount: 25%);
  height: auto;
  margin: 1rem;
  width: 14rem;

  h5 {
    color: $blue;
    font-weight: 500;
    margin-bottom: 0;
  }
}
