@import "../../containers/App/App.scss";

.btn-spinner {
  background-color: $yellow !important;
  border-color: lighten($color: $yellow, $amount: 15%) !important;
  font-weight: bold !important;

  &:focus,
  &:hover {
    background-color: lighten($color: $yellow, $amount: 15%) !important;
    border-color: lighten($color: $yellow, $amount: 15%) !important;
  }

  @include sm {
    margin-bottom: 1rem;
  }
}
