@import "../App/App.scss";

#pokemon-app-header {
    background-image: url("../../assets/pokemon_app_desktop_banner.png");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;

    @include md {
        background-image: url("../../assets/pokemon_app_mobile_banner.png");
    }
}
